p {
font-size: 18px;
font-weight: bold;
}

.big {color: red;
font-size: 28px;
font-weight: bolder;
}

.small {color: grey;
        font-size: 16px;
        font-style: italic;
}

li
{color: blue;
font-size: 18px;
font-weight: bold;
}
